.imagenGaleria{
    width: 100%;
    height: 250px;
    
        &:hover{
            filter: grayscale(100%);
            z-index: 5;}

            }
.gridPadre{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis";
}
.imagenUno{
  grid-area: imagenUno;
}

.imagenDos{
  grid-area: imagenDos;
}
.imagenTres{
  grid-area: imagenTres;
}

.imagenCuatro{
  grid-area: imagenCuatro;
}

.imagenCinco{
  grid-area: imagenCinco;
}

.imagenSeis{
  grid-area: imagenSeis;
}